<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Importing vuejs -->
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>

  <link rel="stylesheet" href="style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Monster Fight!</title>
</head>

<body>
  <div id="app">
    <div class="title">
      <h1>Monster Fight!</h1>
    </div>

    <div class="status-display">
      <div class="player">
        <h1>You</h1>
        <div class="player-hp" :style="playerHpBar"> {{ playerHP }} </div>
      </div>

      <div class="monster">
        <h1>Monster</h1>
        <div class="monster-hp" :style="monsterHpBar"> {{ monsterHP }} </div>
      </div>
    </div>

    <div class="game-menu">
      <div v-if="gameNotStarted">
        <button class="start-button" @click="startGame()">START NEW GAME</button>
      </div>
      <div v-else>
        <button class="attack-button" @click="attack()">ATTACK</button>
        <button class="special-attack-button" @click="specialAttack()">SPECIAL ATTACK</button>
        <button class="heal-button" @click="heal()">HEAL</button>
        <button class="give-up-button" @click="gameNotStarted = !gameNotStarted">GIVE UP</button>
      </div>
    </div>

    <div class="game-log" v-if="gameLog.length > 0">
      <ul>
        <li v-for="entry in gameLog"> <p> {{ entry }} </p></li>
      </ul>
    </div>
  </div>
</body>

<script src="app.js"></script>

</html>
